<!DOCTYPE html>
<html>
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/aboutusstyle.css">
    <title>About Us</title>

    
<body>
<div class="about-section">
    <h1>About Us</h1>

</div>

<div class="column">
    <div class="card">
        <img src="../static/images/linkedin_pfp.jpg" alt="linkedin_pfp" style="width:50%">
        <div class="container">
        <h2>Tian Herng Tan</h2>
        <p class="title">Team Leader</p>
        <p>Hi, I am Adam. I am a Computer Science major in Boston University.I LOVE going to hackathons as I think they are great opportunities to learn material that are not taught in class and get some hands-on experience in web development.</p>
        <p>I would love to share my experience with you, so feel free to contact me anytime!</p>
        <p><a href="https://github.com/Tian-Tan">https://github.com/Tian-Tan</a></p>
        <p><a href="https://www.linkedin.com/in/tianherng-tan/">https://www.linkedin.com/in/tianherng-tan/</a></p>
       
</div>
</div>
</div>

<div class="column">
    <div class="card">
        <img src="../static/images/alvinz23.jpg" alt="" style="width:50%">
        <div class="comntainner">
        <h2>Alvin Zhu</h2>
        <p class="title">Team member</p>
        <p>Im Alvin a CS major at Boston University</p>
        <p><a href="https://www.linkedin.com/in/alvinz4/">https://www.linkedin.com/in/alvinz4/</a></p>
        <p><a href="https://github.com/alvinz23">https://github.com/alvinz23</a></p>
</div>
</div>
</div>


<div class="column">
    <div class="card">
        <img src="../static/images/alex.jpg" alt="member3" style="width:50%">
        <div class="comntainner">
            <h2>Zhuohan Wang</h2>
            <p class="title">Team member</p>
            <p>Hi, I'm Zhuohan (Alex). I am a CS and Math major at Boston University. I love hands-on opportunities at coding or making stuff in general. I think these are great chances to apply what I learned in class to real life, unfamiliar situations. 
                I always love to communicate and exchange experiences, so feel free to contact me anytime!</p>
            <p><a href="https://github.com/SORA1145">https://github.com/SORA1145</a></p>
            <p><a href="https://www.linkedin.com/in/zhuohan-wang-33708a295/">https://www.linkedin.com/in/zhuohan-wang-33708a295/</a></p>
</div>
</div>
</div>

<div class="column">
    <div class="card">
        <img src="../static/images/0.png" alt="" style="width:50%">
        <div class="comntainner">
        <h2>Allen Lin</h2>
        <p class="title">Team member</p>
        <p>My name is Allen Lin. I am a Computer science major focusing on app development. This is my first time participating in a hackathon, I am very excited!</p>
        <p><a href="https://github.com/4113NL1n">https://github.com/4113NL1n</a></p>
        <p><a href="https://www.linkedin.com/in/allen-lin-a790b2249/">https://www.linkedin.com/in/allen-lin-a790b2249/</a></p>

</div>
</div>
</div>

<div class="column">
    <div class="card">
        <img src="../static/images/ziliang.jpg" alt="Ziliang Wang" style="width:50%">
        <div class="comntainner">
            <h2>Ziliang Wang</h2>
            <p class="title">Team member</p>
            <p>Greetings! I'm Ziliang Wang, a passionate computer scientist from the esteemed Boston University.
                 At MiniHack, we believe in pushing the boundaries of innovation and I'm thrilled to be a part of this dynamic team. </p>
            
            <p><a href="https://github.com/Ziliang4936">https://github.com/Ziliang4936</a></p>
            <p><a href="www.linkedin.com/in/ziliang-wang-879349294">www.linkedin.com/in/ziliang-wang-879349294</a></p>
       

</div>
</div>
</div>
</div>
</body>
</html>
