<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <header>
        <div class="navigation">
        <a href="/">Home</a>
        <a href="/">Food_Bank</a>
        <a href="/">Resources</a>
        <a href="/">About</a>
    </header>
    <div class="link">
        <a href="https://www.gbfb.org/need-food/">
            <p>This microservice is provided by Greater Boston Food Bank</p>
        </a>
    </div>
    <br>
    <div class="container">
        <iframe class="responsive-iframe" src="https://gbfb.my.salesforce-sites.com/FoodFinder/"></iframe>
    </div>
</body>
</html>
