<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <header>
        <div class="navigation">
        <a href="/">Home</a>
        <a href="/">Food_Bank</a>
        <a href="/">Resources</a>
        <a href="/">About</a>
    </header>
    <h1 class="random">FoodLink</div>
        <p class="hie">Recipes made easy!

        </p>

        <p class="text1">
            Search for a food item and hit enter and we will recommend 
            you a recipe based off that item
        </p>
    <form class="form">
        <input id="searchBar"type="search">
        <button id="searchButton">Search</button>
    </form>
    <div class="recipes"> Top Recipes
    </div>
    <hr id="line">
    <div class="container"> 
        <div class="slide1">
            <p class="appletext">Apple Pie</p>
            <img src="/foodlink\foodlink\foodlink\app\static\images\applepie.jpg">
            <p class="ingredients">
                <p class="description">Description</p>
                <p class="description2">Apple pie is a classic dessert made with a flaky pastry crust filled with sliced apples, sugar, and spices, typically cinnamon, and baked until golden and delicious.</p>
                <p class="recipe3">Ingredients</p>
                <ul class="bullet">
                    <li>2 Apples, peeled</li>
                    <li>1 1/2 tsp cinnamon</li>
                    <li>8 Tbsp unsalted butter</li>
                    <li>3 Tbsp  all-purpose flour</li>
                    <li>1/4 cup water</li>
                    <li>1 cup granulated sugar</li>
                    <li>1 egg , + 1 Tbsp water, for egg wash</li>
                </ul>
        
            </p>
    </div>
    <hr id="line">
    <div class="slide1">
        <p class="appletext">Brownie</p>
        <img src="/foodlink\foodlink\foodlink\app\static\images\brownie.jpg">
        <p class="ingredients">
            <p class="description">Description</p>
            <p class="description2">Dense, fudgy squares of dessert, rich in cocoa and often studded with chocolate chips or nuts. They're baked to perfection and loved for their chewy, chocolatey goodness.</p>
            <p class="recipe3">Ingredients</p>
            <ul class="bullet">
            
                    <li>Butter </li>
                    <li>Granulated Sugar</li>
                    <li>Evaporated Milk</li>
                    <li>Vanilla Extract</li>
                    <li>Semi-sweet Chocolate Chips</li>
                    <li>Marshmallow creme</li>
                
            </ul>

        </p>
</div>
<hr id="line">
<div class="slide1">
    <p class="appletext">Thai Curry Rice</p>
    <img src="/foodlink\foodlink\foodlink\app\static\images\thai.jpg">
    <p class="ingredients">
        <p class="description">Description</p>
        <p class="description2">Thai curry is a creamy, spicy dish with herbs, spices, coconut milk, and your choice of protein or veggies, served with rice or noodles.</p>
        <p class="recipe3">Ingredients</p>
        <ul class="bullet">
                <li>Chicken thighs </li>
                <li>Coconut milk</li>
                <li>Yellow curry powder</li>
                <li>Chili powder</li>
                <li>Red onion</li>
                <li>Garlic</li>
                <li>Jalapeños</li>
        </ul>

    </p>
</div>
<hr id="line">
<div class="slide1">
    <p class="appletext">Steak</p>
    <img src="/foodlink\foodlink\foodlink\app\static\images\steak.jpg">
    <p class="ingredients">
        <p class="description">Description</p>
        <p class="description2">Thick, juicy cut of meat, typically beef, that's cooked to your preferred level of doneness and often seasoned for a savory and satisfying meal.</p>
        <p class="recipe3">Ingredients</p>
        <ul class="bullet">
            <li>Any Steak</li>
            <li>Garlic Salt</li>
            <li>Seasoning Salt</li>
            <li>Sugar</li>
            <li>Garlix Powder</li>
            <li>Parsley</li>
            <li>Olive Oil</li>
        </ul>

    </p>
</div>
<hr id="line">
<div class="slide1">
    <p class="appletext">Corn Casserole</p>
    <img src="/foodlink\foodlink\foodlink\app\static\images\corn.jpg">
    <p class="ingredients">
        <p class="description">Description</p>
        <p class="description2">Comforting side dish made with sweet corn, creamy ingredients like sour cream or cheese, and often baked until it's golden and delicious.</p>
        <p class="recipe3">Ingredients</p>
        <ul class="bullet">
            <li>Butter</li>
            <li>Creamed Corn</li>
            <li>Whole Canned Corn</li>
            <li>Shour Cream</li>
            <li>Garlix Powder</li>
            <li>Cornbread Mix</li>
        </ul>

    </p>
</div>
    </div>
    </body>
    </body>
    </form>
</body>
</html>
