<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <div class="navigation">
        <a href="index.html">Home</a>
        <a href="index.html">Food_Bank</a>
        <a href="index.html">Resources</a>
        <a href="index.html">About</a>
    </header>
    <h1 class="random">FoodLink</div>
    <form class="form">
        <input id="searchBar"type="search">
        <button id="searchButton">Search</button>
    </form>
    <div class="recipes"> Top Recipes
    </div>
    <div class="slide1">
        <img src="./static/images/applepie.jpg">
        <img src="./static/images/brownie.jpg">
        <img src="./static/images/thai.jpg">
        <img src="./static/images/steak.jpg">
        <img src="./static/images/corn.jpg">
    </div>
    </div>
    </body>
    </body>
    </form>
</body>
</html>
